.Container{
    width: 30%;
    margin: auto;
    border: 7.5px solid red;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 20px;
}

.Container img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

h5{
    color: red;
}

h6{
    color: red;
}

p{
    color: red;
}

ol{
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: center;
}

li{
    display: block;
    padding: 10px 15px;
}

li a{
    text-decoration: none;
     color: red;
}

li a:hover{
    border-bottom: 1px solid salmon;
}