div{
    background-color: pink;
    border: 1px solid black;
    width: 50%;
    margin: 10px;
}

main{
    border: 1px solid black;
    background-color: grey;
    width: 50%;
}

#GG{
    background-color: aqua;
}

body{background-color: ;
}

#L1{
    color: blueviolet;
}

